<!DOCTYPE html>
<html lang="en">
<head>

    <title>Project-Python</title>
</head>
 <body>
     <h1 style="background-color:MediumSeaGreen;">Hello Python Friends! </h1>
    <form action="/" method="post">
        <input placeholder="Name" name="name">
        <input placeholder="Post Content" name="post">
        <input type="submit" value="Submit">
    </form>
    {% for post in posts %}
    <div>{{ post[1] + ': ' + post[2] }}</div>

    {% endfor %}
 </body>
</html>